[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/home/linuxbrew/.linuxbrew/bin/nu /home/doghouse/.config/niri/scripts/swabg_run.nu "%h/Pictures/Wallpaper/openart-image_mountain_wide.png"
Restart=on-failure
